body{margin: 0px;padding: 0px;background-color: #666;}
#iframe_hidden{display:none;}
#parent{float:left;width: 600px;height: 400px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-o-border-radius: 10px;-webkit-box-shadow: 0px 0px 20px #999 inset;background-color: #CCC; position:relative;padding:20px;}
#parent #preview{width:280px; height:300px; margin:20px; display:none; overflow:hidden; position:relative; background-color: #333;}
#parent #preview img{position:absolute; box-shadow: 0 0 2px #FFF;}
#parent #action{font-family:'楷体'; font-size:20px; color:#FF9F46; text-shadow: 1px 1px 2px #005757; -moz-text-shadow: 1px 1px 2px #005757;}
#parent #imgFile{font-family:'楷体';}
#parent #loading{ font-size: 24px; color: #FF7F24; display:none;}
#parent #cutDiv{ position:absolute; background-color: #00F; opacity: 0.3; filter:alpha(opacity=30); border: 1px solid #FFF; cursor:move;}
#parent #submit{display:none;}
/*截取框table样式*/
#parent #cutDiv div{  position:absolute;}
#parent #top,#bottom{ width:100%; height:5px; line-height:1px;cursor:n-resize;}
#parent #right,#left{ width:5px; height:100%; cursor:w-resize;}
#parent #top{top:0px; left:0px; z-index: 2;}
#parent #right{ top:0px; right:0px;z-index: 2;}
#parent #bottom{ bottom:0px; left:0px;z-index: 2;}
#parent #left{ left:0px; top:0px;z-index: 2;}
#parent #top_left,#bottom_right{ width:4px;height:4px;z-index: 3;  cursor:nw-resize;}
#parent #top_right,#bottom_left{ width:4px;height:4px;z-index: 3; cursor:ne-resize;}
#parent #top_left{ top:0px; left:0px;}
#parent #bottom_right{ bottom: 0px; right:0px;}
#parent #top_right{top:0px; right:0px;}
#parent #bottom_left{ bottom:0px; left:0px;}
#parent #center_x{background-color: #FFF; height: 100%; width:0px;  border-left:dashed #00F 1px; top:0px; left:50%;}
#parent #center_y{background-color: #FFF; height: 0px; width:100%;line-height:0px; padding:0px;overflow: hidden; border-top:dashed #00F 1px ; top:50%; left:0px;}
/* end ------ 截取框table样式*/


#parent1{float:left;width: 600px;height:500px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-o-border-radius: 10px;-webkit-box-shadow: 0px 0px 20px #999 inset;background-color: #CCC; position:relative;padding:20px;}
#parent1 #preview{width:300px; height:400px; margin:20px; display:none; overflow:hidden; position:relative; background-color: #333;}
#parent1 #preview img{position:absolute; box-shadow: 0 0 2px #FFF;}
#parent1 #action{font-family:'楷体'; font-size:20px; color:#FF9F46; text-shadow: 1px 1px 2px #005757; -moz-text-shadow: 1px 1px 2px #005757;}
#parent1 #imgFile{font-family:'楷体';}
#parent1 #loading{ font-size: 24px; color: #FF7F24; display:none;}
#parent1 #cutDiv{ position:absolute; background-color: #00F; opacity: 0.3; filter:alpha(opacity=30); border: 1px solid #FFF; cursor:move;}
#parent1 #submit{display:none;}
/*截取框table样式*/
#parent1 #cutDiv div{  position:absolute;}
#parent1 #top,#bottom{ width:100%; height:5px; line-height:1px;cursor:n-resize;}
#parent1 #right,#left{ width:5px; height:100%; cursor:w-resize;}
#parent1 #top{top:0px; left:0px; z-index: 2;}
#parent1 #right{ top:0px; right:0px;z-index: 2;}
#parent1 #bottom{ bottom:0px; left:0px;z-index: 2;}
#parent1 #left{ left:0px; top:0px;z-index: 2;}
#parent1 #top_left,#bottom_right{ width:4px;height:4px;z-index: 3;  cursor:nw-resize;}
#parent1 #top_right,#bottom_left{ width:4px;height:4px;z-index: 3; cursor:ne-resize;}
#parent1 #top_left{ top:0px; left:0px;}
#parent1 #bottom_right{ bottom: 0px; right:0px;}
#parent1 #top_right{top:0px; right:0px;}
#parent1 #bottom_left{ bottom:0px; left:0px;}
#parent1 #center_x{background-color: #FFF; height: 100%; width:0px;  border-left:dashed #00F 1px; top:0px; left:50%;}
#parent1 #center_y{background-color: #FFF; height: 0px; width:100%;line-height:0px; padding:0px;overflow: hidden; border-top:dashed #00F 1px ; top:50%; left:0px;}
/* end ------ 截取框table样式*/