<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    
    <!--MongoDB配置-->
    <add key="ConnectionString" value="mongodb://localhost"/>
    <add key="DBName" value="PdfReaderDB"/>

    <add key="DAL" value="WebOS.PdfReader.DAL"/>
    
    <add key="isWindowsService" value="false"/>
    <!--允许上传的文件类型-->
    <add key="SourceFileter" value=".pdf"/>
    
    <!--用户上传的pdf存放临时目录-->
    <add key="SourcePath" value="D:\\WebOsSite\\PdfReader\\PdfFile\\source\\"/>
    <!--用户上传文件备份位置-->
    <add key="PdfBakPath" value="D:\\WebOsSite\\PdfReader\\PdfFile\\bak\\"/>
    <!--正常尺寸图片存放路径-->
    <add key="ImgPath" value="D:\\WebOsSite\\PdfReader\\PdfFile\\dest\\"/>
    <!--缩略图路径-->
    <add key="ThumbnailsPath" value="D:\\WebOsSite\\PdfReader\\PdfFile\\Thumbnails\\"/>
    <!--缩略图虚拟目录-->
    <add key="ThumbnailsUrl" value="http://localhost/PdfFile/Thumbnails/"/>
    
    <!--最大线程数-->
    <add key="maxThreadCount" value="6"/>
    <!--以下SystemFramework 打头的在调试的时候有用 无需配置-->
    <add key="SystemFramework.Tracing.Enabled" value="True"/>
    <add key="SystemFramework.Tracing.TraceFile" value="E:\WebSiteLog\PdfReader\PdfReader.log"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="500000"/>
  </system.web>
</configuration>